.header__action {
  max-width: 542px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
  margin-bottom: clamp(2rem, 3vw + 1rem, 2.5rem);
}
@media (width <= 768px) {
  .header__action {
    text-align: left;
  }
}
@media (width >= 768px) {
  .header__action {
    text-align: center;
  }
}
