.no-js .members__controls,
.no-js .stages__carousel-controls,
.no-js .stages__list-container::after {
  display: none;
}
.no-js .members__list {
  width: 100%;
  transform: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  row-gap: 44px;
  column-gap: 22px;
}

.no-js .stages__list {
  display: flex;
  flex-flow: column;
  margin-top: 64px;
  gap: 0;
}
.no-js .stages__list-container {
  padding: 0;
}
.no-js .stages__list-item {
  padding: 20px;
  min-height: unset;
}
.no-js .stages__list-item-2,
.no-js .stages__list-item-5 {
  padding-top: 20px;
}
/* Скрываем дубликаты */
.no-js .members__list-item:nth-child(1),
.no-js .members__list-item:nth-child(2),
.no-js .members__list-item:nth-child(3),
.no-js .members__list-item:nth-child(10),
.no-js .members__list-item:nth-child(11),
.no-js .members__list-item:nth-child(12) {
  display: none;
}
.no-js .members__list-item {
  width: unset !important;
}
