@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    /* Очень короткая анимация- события JavaScript продолжат работать */
    animation-delay: -1ms !important;
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    scroll-behavior: auto !important;
    background-attachment: initial !important;
    transition-delay: 1ms !important;
  }
}
