.stages__title {
  font-size: clamp(2.25rem, 4vw + 1rem, 3.375rem);
  line-height: clamp(2.5rem, 5vw + 1rem, 4.063rem);
}
@media (width <= 550px) {
  .stages__title {
    display: flex;
    flex-flow: column;
  }
}
@media (width < 375px) {
  .stages__title {
    hyphens: auto;
  }
}
