.header__btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 263px;
  min-height: 47px;
  border-radius: 66px;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 20.8px;
  font-size: 16px;
  text-align: center;
  padding: 10px 33px;
  text-decoration: none;
  transition: background-color 0.2s ease, box-shadow 0.3s ease;
}
.header__btn:active {
  box-shadow: var(--btn-active-shadow);
}
.header__btn > span {
  align-content: center;
}
@media (width >= 768px) {
  .header__btn {
    height: 72px;
  }
}
@media (width <= 768px) {
  .header__btn {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    column-gap: 0.5rem;
  }
}
