.header__bg_ellipse {
  z-index: 2;
  position: absolute;
  width: 303px;
  height: 302px;
  left: 50%;
  transform: translate(calc(-50% + -12px), 410px);
  background-image: url("/chess/images/webp/mobile/ellipse_mobile.webp");
  background-repeat: no-repeat;
}
@media (width >= 768px) {
  .header__bg_ellipse {
    width: 660px;
    height: 660px;
    transform: translate(calc(-50% + 320px), -44px);
    background-image: url("/chess/images/webp/desktop/ellipse.webp");
  }
}
